# /etc/systemd/system/unionfs_cleaner.service

[Unit]
Description=UnionFS Cleaner
After=network-online.target unionfs.service plexdrive.service

[Service]
User=YOUR_USER
Group=YOUR_USER
Type=simple
WorkingDirectory=/opt/unionfs_cleaner/
ExecStart=/opt/unionfs_cleaner/cleaner.py
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
